.env
!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env.local
/.env.development
/.env.development.rtf
/.env.production
/.idea
/.vscode
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/tags
/certs
/tmp/*
Aws.config
coverage
node_modules
public/webpack
node_modules
npm-debug.log
tmp
.directory
*.~lock.*
vendor/bundle/*
vendor/cache/*
vendor/plugins/*
test/dummy30/.rakeTasks
install/.rakeTasks
!/log/.keep
!/tmp/.keep
/node_modules
/yarn-error.log
.byebug_history
acts_as_follower.gemspec
app/assets/images/.keep
vendor/.keep
test/
config/database.yml

# Ignore application configuration
/config/application.yml

*.code-workspace

/public/packs
/public/packs-test
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/storage

# Ignore master key for decrypting credentials and more.
/config/master.key
